## Intro to Pandas

In [1]:
import pandas as pd

In [62]:
data = pd.read_csv('titanic.csv', index_col='PassengerId')
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### Task1

In [18]:
sex = data['Sex'].value_counts()
male = sex[0]
female = sex[1]

In [ ]:
f = open('Pandas_answers/pandas_answer1', 'w')
f.write(str(male) + ' ' + str(female))
f.close()

### Task2

In [44]:
alive = data['Survived'].value_counts()
alive_percentage = alive[1]/sum(alive)*100

alive_percentage = "{0:.2f}".format(alive_percentage)

In [45]:
f = open('Pandas_answers/pandas_answer2', 'w')
f.write(alive_percentage)
f.close()

### Task3

In [55]:
classes = data['Pclass'].value_counts()

first_class_percentage = classes[1]/sum(classes)*100
first_class_percentage = "{0:.2f}".format(first_class_percentage)

In [56]:
f = open('Pandas_answers/pandas_answer3', 'w')
f.write(first_class_percentage)
f.close()

### Task4

In [58]:
avg_age = "{0:.2f}".format(data['Age'].mean())
median_age = data['Age'].median()

29.70 28.0

In [61]:
f = open('Pandas_answers/pandas_answer4', 'w')
f.write(str(avg_age) + ' ' + str(median_age))
f.close()

### Task5

In [67]:
corr = "{0:.2f}".format(data['SibSp'].corr(data['Parch']))

In [68]:
f = open('Pandas_answers/pandas_answer5', 'w')
f.write(corr)
f.close()

### Task6

In [251]:
women = data["Sex"] == 'female'
women_names = data[women]['Name']
women_names = women_names.apply(lambda x: x.split(',')[1].split('.')[1]) 
women_names = list(women_names)

out = []
for n in range(len(women_names)):
    name = women_names[n]
    if '(' not in name:
        name = women_names[n].split()[0]
    else:
        ind = women_names[n].index('(')
        name = women_names[n][ind+1:].split()[0]
    name.replace('"', '')
    #print(''.join(name[0]))
    out += [''.join(name)]

names = pd.Series(out)
names.value_counts()

Anna           14
Mary           13
Elizabeth      11
Margaret       10
Alice           6
Bertha          5
Helen           5
Ada             4
Annie           4
Augusta         4
Emily           4
Florence        4
Marie           4
Maria           4
Ellen           4
Edith           3
Jane            3
Marion          3
Katherine       3
Elisabeth       3
Lillian         3
Ida             3
Madeleine       3
Hanora          3
Amelia          3
Catherine       3
"Mrs            3
Lucile          2
Elsie           2
Lily            2
               ..
Kornelia        1
Stina           1
Margit          1
Grace           1
Hedwig          1
Karolina)       1
Margaretta      1
Nourelain       1
Gerda           1
Marion)         1
Roberta         1
Lyyli           1
Mara            1
Imanita         1
Eliza           1
Delia           1
Encarnacion     1
Gretchen        1
Eugenie         1
Harriet         1
Miriam          1
Laina           1
Leontine        1
Daisy           1
Torborg         1
Ellis           1
Asuncion        1
Phyllis         1
Sylvia          1
Sigrid          1
Length: 185, dtype: int64

In [248]:
res = 'Anna'
f = open('Pandas_answers/pandas_answer6', 'w')
f.write(res)
f.close()