## Intro to Trees

In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

In [2]:
data = pd.read_csv('titanic.csv', index_col='PassengerId')
data = data[['Survived', 'Pclass', 'Fare', 'Age', 'Sex']]
data = data.dropna(axis=0)

data.head()

             Survived  Pclass     Fare   Age     Sex
PassengerId
1                   0       3   7.2500  22.0    male
2                   1       1  71.2833  38.0  female
3                   1       3   7.9250  26.0  female
4                   1       1  53.1000  35.0  female
5                   0       3   8.0500  35.0    male

In [4]:
X = data[['Pclass', 'Fare', 'Age', 'Sex']]
X.loc[:,'Sex'] = X.loc[:,'Sex'].replace('male', 0)
X.loc[:,'Sex'] = X.loc[:,'Sex'].replace('female', 1)

X.head()

             Pclass     Fare   Age  Sex
PassengerId
1                 3   7.2500  22.0    0
2                 1  71.2833  38.0    1
3                 3   7.9250  26.0    1
4                 1  53.1000  35.0    1
5                 3   8.0500  35.0    0

In [5]:
y = data['Survived']
y.head()

PassengerId
1    0
2    1
3    1
4    1
5    0
Name: Survived, dtype: int64

In [6]:
tree = DecisionTreeClassifier(random_state=241)
tree.fit(X, y)

features = tree.feature_importances_
features

array([0.14751816, 0.29538468, 0.25658495, 0.30051221])